html, body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box; /* que indica que o tamanho agora levará em conta até a borda */
}
.header{
    background: linear-gradient(180deg, #2f4076 0%, rgba(47, 64, 118, 0.84) 100%);
    padding: 50px 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-color: red;
    border: 5px;
}

.navbar-items{
    justify-content: flex-end;

}

/* --variavel: valor; 
   color : var (--variavel);*/