@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html, body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box; /* que indica que o tamanho agora levará em conta até a borda */
    font-family: 'Roboto', sans-serif;
}
.header{
    background: linear-gradient(180deg, #2f4076 0%, rgba(47, 64, 118, 0.84) 100%);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
   
    border-color: red;
    border: 5px;
}
.palavra{
    color: #54D1BB;
}
.navbar-items a { /* a é ancora */
    color: #54D1BB;
     
}
.navbar{
    list-style: none;  
    float: right;
     
}

.navbar-items {
    position: relative;  
    list-style-type: none;
    display: inline-flex;
    color: #54D1BB;
    width: 18px;
    justify-content: flex-end;
    
}

.logo_wd {
    width: 90px;
    float: left;
}
.foto_mulher {
    position: absolute;
    left: 67.41%;
    right: 11.03%;
    top: 24.53%;
    bottom: 38.57%;
    width: 230px;
    height: 230px;
    border-radius: 100%;
}
.texto_mulher{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #ffffff;
}
palavra{
    color: #54D1BB;
}
/* --variavel: valor; 
   color : var (--variavel);*/