@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html, body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box; /* que indica que o tamanho agora levará em conta até a borda */
    font-family: 'Roboto', sans-serif;
}
/* HEADER */

.header{
    background: linear-gradient(180deg, #2f4076 0%, rgba(47, 64, 118, 0.84) 100%);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
   
    border-color: red;
    border: 5px;
}
.palavra{
    color: #54D1BB;
}
.navbar-items a { /* a é ancora */
    color: #54D1BB;
     
}
.navbar {
    list-style: none;  
    float: right;
     
}

.navbar-items {
    position: relative;  
    list-style-type: none;
    display: inline-flex;
    color: #54D1BB;
    width: 18px;
    justify-content: flex-end;
     
     
}
.navbar-items ul li {
    margin: 5px;
	padding: 0 10px;
}
.navbar_itens_li{
    padding-left: 100px;
}

.logo_wd {
    width: 120px;
    float: left;
}
.foto_mulher {
    position: absolute;
    left: 67.41%;
    right: 11.03%;
    top: 24.53%;
    bottom: 38.57%;
    width: 230px;
    height: 230px;
    border-radius: 100%;
    transform: rotate(25deg);
    
}
.texto_mulher{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #ffffff;
}
.palavra{
    color: #54D1BB;
}
.texto_header{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 50px;
    /* or 156% */
    text-align: center;
    color: #FFFFFF;
}
/* MAIN */
.projects{
    background-color: rgba(229, 229, 229, 0.71);
    display:flow-root;
    align-items: center;
    
}
.projecto-title{
    font-size: 5vw;
    line-height: 66px;
    text-align: center;
    color: #2F4076;
}

.retangulo{
    width: 100%;
    height: 50vw;
    padding: 0% 10% 0% 10%;
    display: flex;

    
}
.retangulo1{
    background-color: #fff;
    width: 25%;
    height: 25vw; /* A mágica está aqui */
    padding-bottom: 3%; /* ... e está aqui */
    margin: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   text-align: center; 
   font-size: 4w;
   display: flex; 
   flex-direction: column;
   align-items: center;
   margin-left: 3%;
  

   
}

.foto-retangulo{
    width: 70%;
    height: 30%;
    margin-top: 10%;
}
.imagem_ret1{
    width: 60%;
    margin-left: 25%;
    margin-top: 10%;
           
}


.titulo_retq1{
    font-size: 1.5vw;
    color: #2F4076; 
    position: relative;
    margin-left: 5%;
    text-align: center;
    margin-right: 5%;
    height: 10%; 
 
    
}
.titulo_retq2{
    font-size: 20px;
    line-height: 23px;
    color: #54D1BB; 
    position: absolute;
    margin-left: 5%;
    
}
.titulo_retq3{
    font-size: 20px;
    line-height: 23px;
    color: #F1C205; 
    position: absolute;
    margin-left: 5%;
    
}
.titulo_retq4{
    font-size: 20px;
    line-height: 23px;
    color: #3D1E69; 
    position: absolute;
    margin-left: 5%;
    
}
.texto_ret1{
    margin-left: 5%;
    margin-top: 20%;
    font-size: 1.0vw;
    margin-right: 5%;
}
.contato{
    display: flex;
    background: linear-gradient(180deg, #46BEB2 0%, #3A7C95 100%);
    padding: 50px 100px;
    width: 100%;
    flex-direction: column;
}
.email{
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.lets_talk{
    color: #fff;
    text-align: center;
    font-size: 48px;
}
.lets_talk_text{
    color: #000000;
    text-align: center;
    font-size: 18px;
}

/* FOOTER */
.footer{
    background-color: rgba(62, 59, 59, 0.88);
    width: 100%;
}

.icon_github{
    padding: 0px 80px 0px 180px;
    margin: 15px 0px 15px 0px;             
}
.icon_instagram{
    padding: 0px 80px 0px 80px;   
    margin: 15px 0px 15px 0px;            
}
.icon_twitter{
    padding: 0px 80px 0px 80px;     
    margin: 15px 0px 15px 0px;          
}
.icon_linkedin{
    padding: 0px 80px 0px 80px;     
    margin: 15px 0px 15px 0px;         
}
.icon_vector{
    padding: 0px 80px 0px 80px;   
    margin: 15px 0px 15px 0px;       
}
/* --variavel: valor; 
   color : var (--variavel);*/